{% extends 'common/base.html' %}
{% load static %}

{% block css%}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}
{% block content %}

<section id="about">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-12  my-5 px-5">
            <img src="{% static 'image/about.jpg' %}" alt="" class="img-fluid mt-5" width="100%" style="border-radius: 10%;">

        </div>
        <div class="col-lg-6 col-md-6 col-12 p-5 my-5">
            <h1>ABOUT US</h1>
            <p>                Chillax is a delicious new brand from the house of Frozen foods that’s committed to enhance your taste buds to the next level of yumminess with its wide range of ready to fry, ready to steam and ready to cook frozen food products. With a belief that food should not just be a source of nourishment for the body, but also the soul, Chillax offers you a huge variety of frozen food products that are delightfully packed with all the goodness kept intact to satisfy your watering mouths.</h1>
            </p>
        </div>
    </div>
</div>


</section>




{% endblock content %}

