{% extends 'common/base.html' %}
{% load static%}

{% block css%}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}
{% block content %}

<section id="about">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-12  my-5 px-5">
            <img src="{% static 'image/hae.jpg' %}" alt="" class="img-fluid mt-5" width="100%" style="border-radius: 10%;">

        </div>
        <div class="col-lg-6 col-md-6 col-12 p-5 my-5">
            <h1>Heat And Eat</h1>
            <p>If your kids start calling you “momo” instead of “mummy”, then bring home these delicious ready-to-steam munchies from a store near you.

            </p>
        </div>
    </div>
</div>


</section>

{% endblock content %}
