{% extends 'common/base.html' %}
{% load static%}

{% block css%}
{{ block.super }}
<link rel="stylesheet" href="{% static '/css/shop.css' %}">

{% endblock css %}
{% block content %}

<section id="product">
    <div class="container">

<!-- rows-1 -->
        <div class="row pt-4">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card " style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/nut1.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Almond USA -Badam</h5>
                  <p class="card-text text-warning">Rs. 299</p>

                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/nut2.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Cashew Nut Plain</h5>
                  <p class="card-text text-warning">Rs. 349</p>

                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/nut3.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Walnut Usa - Akhrot</h5>
                  <p class="card-text text-warning">Rs. 499</p>
                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/nut4.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Iranian Pista</h5>
                  <p class="card-text text-warning">Rs. 549</p>
                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
        </div>
<!-- rows-2 -->
        <div class="row pt-4">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card " style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/nut5.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Roasted Cashew </h5>
                  <p class="card-text text-warning">Rs. 399</p>

                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/nut6.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Hazelnuts</h5>
                  <p class="card-text text-warning">Rs. 349</p>

                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/nut7.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Ajfan Pecan Nuts</h5>
                  <p class="card-text text-warning">Rs. 599</p>
                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/nut8.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Brazillian Nut</h5>
                  <p class="card-text text-warning">Rs. 849</p>
                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
        </div>
<!-- rows-3 -->

        <div class="row pt-4">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card " style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/nut9.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Chile Walnut With Shell</h5>
                  <p class="card-text text-warning">Rs. 309</p>

                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/nut10.jpg' %}" alt="Card image cap" height="100%">
                <div class="card-body">
                  <h5 class="card-title">Macadamia Nuts Plain</h5>
                  <p class="card-text text-warning">Rs. 749</p>

                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/nut11.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Makhana Creamy Onion </h5>
                  <p class="card-text text-warning">Rs. 499</p>
                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/nut12.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Pine Nuts Without Shell</h5>
                  <p class="card-text text-warning">Rs. 809</p>
                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
        </div>
<!-- rows-4 -->
        <div class="row pt-4 pb-5">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card " style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/date.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Medjoul Jordan </h5>
                  <p class="card-text text-warning">Rs. 299</p>

                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/date2.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Holy Ajwa Dates</h5>
                  <p class="card-text text-warning">Rs. 349</p>

                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/date3.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sukkari Dry Dates</h5>
                  <p class="card-text text-warning">Rs. 499</p>
                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="{% static '/image/date4.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sagai Premium Dates</h5>
                  <p class="card-text text-warning">Rs. 549</p>
                  <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}

